body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FDFDFD;
}

h1 {
    color: #333333;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}